extends index

block content
  form.form-horizontal(method="post", id="contentAssignForm", action="/form/contentAssign")
    div.control-group
      label.control-label(for="entryId") Entry Id :
      div.controls
        input(type="text", name="entryId", id="entryId", readonly="readonly", value="#{entryId}")
    div.control-group
      label.control-label(for="contentAssignee") Content Assignee :
      div.controls
        input(type="text", name="contentAssignee", id="contentAssignee")
    div.control-group
      label.control-label(for="contentAssignDate") Content Assignment Date :
      div.controls
        div.input-append.date(id="contentAssignDateDiv", data-date="12/01/2012", data-date-format="dd/mm/yyyy")
          input.span2(size="16", value="12/01/2012", readonly, name="contentAssignDate", id="contentAssignDate")
          span.add-on
            i.icon-th

    input.btn.btn-primary(type="submit", value="Save")
