extends index

block content
  h2 #{formName}
  form.form-horizontal(method="post", id="contentCompleteForm", action="/form/contentComplete")
    div.control-group
      label.control-label(for="entryId") Entry Id :
      div.controls
        input(type="text", name="entryId", id="entryId", readonly="readonly", value="#{entryId}")
    div.control-group
      label.control-label(for="catalogName") Catalog Name :
      div.controls
        input(type="text", name="catalogName", id="catalogName")
    div.control-group
      label.control-label(for="catalogSubDate") Catalog Submission Date :
      div.controls
        input.input-small(type="text", name="catalogSubDate", id="catalogSubDate", readonly="readonly")

    input.btn.btn-primary(type="submit", value="Save")
