extends index

block content
  form.form-horizontal(method="post", id="contentCompleteForm")
    div.control-group
      label.control-label(for="catalogName") Catalog Name :
      div.controls
        input(type="text", name="catalogName", id="catalogName")
    div.control-group
      label.control-label(for="catalogSubDate") Catalog Submission Date :
      div.controls
        div.input-append.date(id="catalogSubDateDiv", data-date="12/01/2012", data-date-format="dd/mm/yyyy")
          input.span2(size="16", value="12/01/2012", readonly, name="catalogSubDate", id="catalogSubDate")
          span.add-on
            i.icon-th

    input.btn.btn-primary(type="submit", value="Save")
