extends index

block content
  a.btn(href="/form/complete/#{entryId}") View History
  h2 #{formName}
  form.form-horizontal(method="post", id="contentAssignForm", action="/form/contentAssign")
    div.control-group
      label.control-label(for="entryId") Entry Id :
      div.controls
        input(type="text", name="entryId", id="entryId", readonly="readonly", value="#{entryId}")
    div.control-group
      label.control-label(for="contentAssignee") Content Assignee :
      div.controls
        input(type="text", name="contentAssignee", id="contentAssignee")
    div.control-group
      label.control-label(for="contentAssignDate") Content Assignment Date :
      div.controls
        input.input-small(type="text", name="contentAssignDate", id="contentAssignDate", readonly="readonly")

    input.btn.btn-primary(type="submit", value="Save")
