div.control-group
  label.control-label(for="approvedDate") Approved Date :
  div.controls
    div.input-append.date(id="approvedDateDiv", data-date="12/01/2012", data-date-format="dd/mm/yyyy")
      input.span2(size="16", value="12/01/2012", readonly, name="approvedDate", id="approvedDate")
      span.add-on
        i.icon-th
$('#approvedDateDiv').datepicker().on('changeDate', function(ev){
  $('#approvedDateDiv').datepicker('hide');   
});
