extends index

block content
  form.form-horizontal(method="post", id="imgApprovalForm", action="/form/imageApproval")
    div.control-group
      label.control-label(for="entryId") Entry Id :
      div.controls
        input(type="text", name="entryId", id="entryId", readonly="readonly", value="#{entryId}")
    div.control-group
      label.control-label(for="approvedImagePath") Approved Image Path :
      div.controls
        input(type="text", name="approvedImagePath", id="approvedImagePath")

    div.control-group
      label.control-label(for="approvedImages") Approved Images :
      div.controls
        input(type="text", name="approvedImages", id="approvedImages")
    div.control-group
      label.control-label(for="approvedDate") Approved Date :
      div.controls
        div.input-append.date(id="approvedDateDiv", data-date="12/01/2012", data-date-format="dd/mm/yyyy")
          input.span2(size="16", value="12/01/2012", readonly, name="approvedDate", id="approvedDate")
          span.add-on
            i.icon-th
    div.control-group
      label.control-label(for="rating") Rating :
      div.controls
        input.input-small(type="text", name="rating", id="rating")

    input.btn.btn-primary(type="submit", value="Save")
