extends index

block content
  a.btn(href="/form/complete/#{entryId}") View History 
  h2 #{formName}
  form.form-horizontal(method="post", id="prodLaunchForm", action="/form/prodLaunch")
    div.control-group
      label.control-label(for="entryId") Entry Id :
      div.controls
        input(type="text", name="entryId", id="entryId", readonly="readonly", value="#{entryId}")
    div.control-group
      label.control-label(for="launchComplete") Launch Complete :
      div.controls
        input(type="checkbox", name="launchComplete", id="launchComplete")
    div.control-group
      label.control-label(for="launchDate") Launch Date :
      div.controls
        input.input-small(type="text", name="launchDate", id="launchDate", readonly="readonly")

    input.btn.btn-primary(type="submit", value="Save")
